<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <div class="logo">
        <h1 class="text-light"><a href="/"><span>AKS</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="https://imgs.search.brave.com/ury-UARgcteeCXbN1S-FLb4cvV2yQ8ugpCQF4acwkRI/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/V3dVc29jV1FvZEh0/LTBjajhaN0FBSGFI/YSZwaWQ9QXBp" alt="" class="img-fluid" style="height: 100px;"></a> -->
      </div>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about_us">About Us</a></li>
         
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <% if (user.email != "aravinth@gmail.com" ) { %>
          <li><a class="nav-link scrollto" href="/myOrders">My Orders</a></li> 
          <li><a class="nav-link scrollto" href="/order-reservation">RFQ</a></li>
          <% } else { %>
          <li> <a href="/Reservations" class="notification">
            <span>Reservations</span>
            <span class="badge">3</span>
          </a></li>
         
          <% } %>

          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <% if (user) { %>
            <li class="dropdown"><a href="#"><b><span><%= user.name %></span> </b><i class="bi bi-chevron-down"></i>  <lord-icon
              src="https://cdn.lordicon.com/imamsnbq.json"
              trigger="hover"
              style="width:50px;height:50px">
                </lord-icon></a>
              <ul>
                <li><a href="/users/Logout">Logout</a></li>
                <li><a href="#">Account</a></li>
              </ul>
            </li>
          <% } else { %>
            <li><a class="getstarted scrollto" id="login"href="/users/login">Login</a></li>
          <button class="profile-btn">
          <% } %>
            
          </button>
  
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
  </header>
  